.header {
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: transparent;
}

.logo img {
  height: 80px;
  margin-left: 100px;
  transform: rotate(10deg);
}

.nav {
  display: flex;
  gap: 0px;
  
}

.nav a {
  text-decoration: none;
  font-size: 1.2rem;
  transition: opacity 0.3s;
  margin-right: 130px;
  font-family: 'JetBrains Mono', monospace;
  
  
}

/* Estilo para páginas escuras */
.header.dark .nav a {
  color: white;
  
}

/* Estilo para páginas claras */
.header.light .nav a {
  color: #333;
}

.l-fundo {
  position: absolute;
  width: 130px;
  height: 130px;
  left: 38px;
  top: 133.88px;
  background: #E84C3D;
  border-radius: 40px;
  transform: rotate(45deg);
  z-index: 11;
}