
.logoS {
  transform: rotate(10deg);
  width: 150px;
  height: auto;
  margin-bottom: -50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.logo-link {
  display: block;
  text-align: center; 
}


.mudar-senha-container {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}

.mudar-senha-container button {
  margin-top: 30px;
  padding: 10px;
  background-color: #4F6B46;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

.mudar-senha-container button:hover {
  background-color: #3f5738;
}



@media (max-width: 768px) {

  .logoS {
    width: 120px;
    margin-bottom: 20px;
  }


  .mudar-senha-container {
    max-width: 90%;
    padding: 20px;
  }
}


@media (max-width: 480px) {

  .logoS {
    width: 100px;
    margin-bottom: 15px;
  }


  .mudar-senha-container {
    max-width: 90%;
    padding: 15px;
  }
}
